{% extends "base_site.html" %}

{% block title %} User {% endblock title %}

{% block stylesheets %}
  {{ super() }}
{% endblock stylesheets %}

{% block content %}

  <script type="text/javascript" src="https://code.jquery.com/jquery-1.11.3.min.js"></script>

    <!-- Include Date Range Picker -->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.4.1/js/bootstrap-datepicker.min.js"></script>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.4.1/css/bootstrap-datepicker3.css"/>


    <div class="right_col" role="main">
      <div class="">
       

      

        <div class="row">
          <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="x_panel">
              
                <h2> Add User</h2>
                <div class="x_title">
                <!--<ul class="nav navbar-right panel_toolbox">
                  <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                  </li>
                  <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
                    <ul class="dropdown-menu" role="menu">
                      <li><a href="#">Settings 1</a>
                      </li>
                      <li><a href="#">Settings 2</a>
                      </li>
                    </ul>
                  </li>
                  <li><a class="close-link"><i class="fa fa-close"></i></a>
                  </li>
                </ul>
                <div class="clearfix"></div>-->
              </div>
              <div class="x_content">




              	<form class="form-horizontal form-label-left input_mask" id="{{ form.id }}" method="post">

                <div class="form-group">

                  <div class="col-md-1 col-sm-6 col-xs-12"></div>
                  
                  <div class="col-md-5 col-sm-6 col-xs-12">
                    <label class="control-label">{{ form.username.label }}</label>               
                    <input type="text" class="form-control " required="required"  id="{{ form.username.id }}" name="{{ form.username.id }}"> 
                  </div>

                  <div class="col-md-5 col-sm-6 col-xs-12">
                   <label class="control-label">{{ form.password.label }}</label>
                    <input type="password" class="form-control " required="required"  id= "{{ form.password.id }}" name="{{ form.password.id }}">
                  </div>

                </div>
                
                <div class="form-group">
                  <div class="col-md-1 col-sm-6 col-xs-12"></div>

                  <div class="col-md-5 col-sm-9 col-xs-12">
                   <label class="control-label">{{ form.user_first_name.label }}</label>
                    <input type="text" class="form-control " id="{{ form.user_first_name.id }}" name="{{ form.user_first_name.id }}">
                  </div>
                
                  <div class="col-md-5 col-sm-9 col-xs-12">
                   <label class="control-label ">{{ form.user_middle_name.label }}</label>
                    <input type="text" class="form-control " id= "{{ form.user_middle_name.id }}" name="{{ form.user_middle_name.id }}">
                  </div>

                </div>


                <div class="form-group"><div class="col-md-1 col-sm-6 col-xs-12"></div>
                 <div class="col-md-5 col-sm-9 col-xs-12">
                   <label class="control-label">{{ form.user_last_name.label }}</label>
                    <input type="text" class="form-control " id= "{{ form.user_last_name.id }}" name="{{ form.user_last_name.id }}">
                  </div>

                  <div class="col-md-5 col-sm-9 col-xs-12">
                	<label class="control-label ">{{ form.user_gender.label }}</label><br>
                	
    				<!--
                  <input type="radio" class="flat" name="user_gender" value="{{ Male }}" id="Male">
                  <label for="{{Male}}"> Male </label><br>
                  <input type="radio" class="flat" name="user_gender" value="{{ Female }}" id="Female">
                  <label for="{{Female}}"> Female </label><br>-->
                  {% for subfield in form.user_gender %}
            					<tr>
            					    <td>{{ subfield }}</td>
            					    <td>{{ subfield.label }}</td>
            					</tr><br>
            					{% endfor %}
                 	
                 	</div>
                </div>
                 
    

                <div class="form-group">
                  <div class="col-md-1 col-sm-6 col-xs-12"></div>
                  <div class="col-md-5 col-sm-9 col-xs-12">
                     <label class="control-label ">{{ form.user_address_line_1.label }}</label>
                     <input type="text" class="form-control "  id= "{{ form.user_address_line_1.id }}" name="{{ form.user_address_line_1.id }}">
                  </div>
                  <div class="col-md-5 col-sm-9 col-xs-12">
                      <label class="control-label ">{{ form.user_address_line_2.label }}</label>
                      <input type="text" class="form-control "  id= "{{ form.user_address_line_2.id }}" name="{{ form.user_address_line_2.id }}">
                  </div>
                </div>

                <div class="form-group">
                  <div class="col-md-1 col-sm-6 col-xs-12"></div>
                  <div class="col-md-5 col-sm-9 col-xs-12">
                    <label class="control-label">{{ form.user_city.label }}</label>
                    <input type="text" class="form-control "  id= "{{ form.user_city.id }}" name="{{ form.user_city.id }}">
                  </div>
                  <div class="col-md-5 col-sm-6 col-xs-12">
                    <label class="control-label ">{{ form.user_state.label }}</label>
                    <input type="text" class="form-control "  id= "{{ form.user_state.id }}" name="{{ form.user_state.id }}">
                  </div>
                </div>


                <div class="form-group">
                  <div class="col-md-1 col-sm-6 col-xs-12"></div>
                  <div class="col-md-5 col-sm-9 col-xs-12">
                     <label class="control-label ">{{ form.user_pin_code_no.label }}</label>
                     <input type="text" class="form-control " data-inputmask="'mask' : '999-999'" id= "{{ form.user_pin_code_no.id }}" name="{{ form.user_pin_code_no.id }}">
                  </div>
                  <div class="col-md-5 col-sm-6 col-xs-12">
                     <label class="control-label ">{{ form.user_land_line_number.label }}</label>
                     <input type="text" class="form-control " data-inputmask="'mask' : '(999) 999-9999'" id= "{{ form.user_land_line_number.id }}" name="{{ form.user_land_line_number.id }}">
                  </div>
                </div>

                <div class="form-group">
                  <div class="col-md-1 col-sm-6 col-xs-12"></div>
                  <div class="col-md-5 col-sm-9 col-xs-12">
                    <label class="control-label ">{{ form.user_mobile_number.label }}</label>
                    <input type="text" class="form-control " data-inputmask="'mask' : '(999) 999-9999'"  id= "{{ form.user_mobile_number.id }}" name="{{ form.user_mobile_number.id }}"/>
                  </div>
                  <div class="col-md-5 col-sm-6 col-xs-12">
                    <label class="control-label ">{{ form.user_alternative_mobile_number.label }}</label>
                    <input type="text"  class="form-control " data-inputmask="'mask' : '(999) 999-9999'" id= "{{ form.user_alternative_mobile_number.id }}" name="{{ form.user_alternative_mobile_number.id }}">
                  </div>
                </div>

                <div class="form-group">
                  <div class="col-md-1 col-sm-6 col-xs-12"></div>
                  <div class="col-md-5 col-sm-9 col-xs-12">
                     <label class="control-label ">{{ form.email.label }}</label>
                     <input type="email"  class="form-control " required="required"  id= "{{ form.email.id }}" name="{{ form.email.id }}">
                  </div>
                  <div class="col-md-5 col-sm-6 col-xs-12">
                    <label class="control-label ">{{ form.user_alternative_email_id.label }}</label>
                    <input type="email" class="form-control "  id= "{{ form.user_alternative_email_id.id }}" name="{{ form.user_alternative_email_id.id }}">
                  </div>
                </div>

                <div class="form-group">
                  <div class="col-md-1 col-sm-6 col-xs-12"></div>
                  <div class="col-md-5 col-sm-9 col-xs-12">
                    <label class="control-label ">{{ form.user_dob.label }}</label>
                     <div class="input-append date" id="{{ form.user_dob.id }}" data-date-format="yyyy-mm-dd">
                     <input type="text" class="form-control "   id= "{{ form.user_dob.id }}" name="{{ form.user_dob.id }}">
                        <span class="add-on"><i class="icon-th"></i></span>
                      </div>
                     
                  </div>
                  <div class="col-md-5 col-sm-6 col-xs-12">
                     <label class="control-label ">{{ form.user_remarks.label }}</label>
                     <input type="text" class="form-control"  id= "{{ form.user_remarks.id }}" name="{{ form.user_remarks.id }}">
                  </div>
                </div>

                <script type="text/javascript">
                
               $('#{{ form.user_dob.id }}').datepicker({
                  format: 'yyyy-mm-dd'
               });
               </script>

                <div class="ln_solid"></div>
                <div class="form-group"> <div class="col-md-2 col-sm-9 col-xs-12"></div>
                  <div class="col-md-3 col-sm-9 col-xs-12 col-md-offset-3">
                    <button type="button" class="btn btn-primary">Cancel</button>
                    <button class="btn btn-primary" type="reset">Reset</button>
                    <button type="submit" class="btn btn-success" name="{{ form.submit }}">Submit</button>
                  </div>
                </div>

              </form>
                  
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
{% endblock content %}

{% block javascripts %}
  {{ super() }}
    <script src="{{ url_for('static', filename='vendors/jquery.inputmask/dist/min/jquery.inputmask.bundle.min.js') }}"></script>

{% endblock javascripts %}


