{% extends "base_site.html" %}

{% block title %} Organization {% endblock title %}

{% block stylesheets %}
  {{ super() }}
{% endblock stylesheets %}

{% block content %}


    <script type="text/javascript" src="https://code.jquery.com/jquery-1.11.3.min.js"></script>

    <!-- Include Date Range Picker -->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.4.1/js/bootstrap-datepicker.min.js"></script>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.4.1/css/bootstrap-datepicker3.css"/>
    <div class="right_col" role="main">
      <div class="">
       

        <div class="clearfix"></div>

        <div class="row">
          <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="x_panel">
              <div class="x_title">
                <h2>Add Organization</h2>
                
                <div class="clearfix"></div>
              </div>
              <div class="x_content">
                  <br />


              <h2 style = "text-align: center;"></h2>
    
              {% for message in form.org_date_of_incorporation.errors %}
                 <div>{{ message }}</div>
              {% endfor %}
                
              <form class="form-horizontal form-label-left input_mask" id="{{ form.id }}" method="post">
                
                
                
                <div class="form-group">
                  <div class="col-md-1 col-sm-6 col-xs-12"></div>
                 <!-- <label class="control-label col-md-3 col-sm-3 col-xs-12">{{ form.org_name.label }}</label> -->
                  <div class="col-md-4 col-sm-6 col-xs-12 form-group has-feedback">
                    <input type="text" class="form-control has-feedback-left" required="required" placeholder="{{ form.org_name.label.text }}" id="{{ form.org_name.id }}" name="{{ form.org_name.id }}">
                    <span class="fa fa-user form-control-feedback left" aria-hidden="true"></span>
                  </div>
                 
                  
                    <div class="col-md-4 col-sm-6 col-xs-12">
                      <label class="control-label">{{ form.org_type_of_entity.label }}</label>
                      <select class="select2_single form-control" tabindex="-1">
                        <option></option>
                        {% for itm in docList %}
                          <option value={{ itm[1] }}>{{ itm[0] }}</option>
                        {%  endfor %}
                      </select>
                    </div>

                <div class="form-group">
                  
                    <label class="control-label col-md-1 col-sm-6 col-xs-12">{{ form.org_nature_of_business.label.text }}</label>
                    <div class="col-md-4 col-sm-6 col-xs-12">
                      <select class="select2_single form-control" tabindex="-1">
                        <option></option>
                        {% for itm in docList2 %}
                          <option value={{ itm[1] }}>{{ itm[0] }}</option>
                        {%  endfor %}
                      </select>
                    </div>
                  </div>
                  <div class="col-md-1 col-sm-6 col-xs-12"></div>
                
                 <!-- <label class="control-label col-md-3 col-sm-3 col-xs-12">{{ form.org_company_registration_no.label }}</label> -->
                  <div class="col-md-4 col-sm-6 col-xs-12 form-group has-feedback">
                    <input type="text" class="form-control has-feedback-left" placeholder="{{ form.org_company_registration_no.label.text }}" id="{{ form.org_company_registration_no.id }}" name="{{ form.org_company_registration_no.id }}">
                    <span class="fa fa-building form-control-feedback left" aria-hidden="true"></span>
                  </div>
                </div>

            
                <div class="form-group">
                  <div class="col-md-1 col-sm-6 col-xs-12"></div>
                <!--  <label class="control-label col-md-3 col-sm-3 col-xs-12">{{ form.org_date_of_incorporation.label }} </label> -->
                  
                  <div class="col-md-4 col-sm-6 col-xs-12 form-group has-feedback">
        
                   
                      
                      <div class="input-append date" id="{{ form.org_date_of_incorporation.id }}" data-date-format="yyyy-mm-dd">
                      <input class="form-control has-feedback-left"  name="{{ form.org_date_of_incorporation.id }}" placeholder="{{ form.org_date_of_incorporation.label.text }}" type="text" ><span class="add-on"><i class="icon-th"></i></span>
                       <span class="fa fa-calendar form-control-feedback left" aria-hidden="true"></span>
                      </div>


                </div>
                 
                                 
               <script type="text/javascript">
                
               $('#{{ form.org_date_of_incorporation.id }}').datepicker({
                  format: 'yyyy-mm-dd'
               });
               </script>
               <div class="col-md-1 col-sm-1 col-xs-12"></div>
                
                <!--  <label class="control-label col-md-3 col-sm-3 col-xs-12">{{ form.org_address_line_1.label }}</label> -->
                  <div class="col-md-4 col-sm-6 col-xs-12 form-group has-feedback">
                    <input type="text" class="form-control has-feedback-left" required="required" placeholder="{{ form.org_address_line_1.label.text }}" id= "{{ form.org_address_line_1.id }}" name="{{ form.org_address_line_1.id }}">
                     <span class="fa fa-home form-control-feedback left" aria-hidden="true"></span>
                  </div>
                </div>

                <div class="form-group">
                  <div class="col-md-1 col-sm-6 col-xs-12"></div>
                <!--  <label class="control-label col-md-3 col-sm-3 col-xs-12">{{ form.org_city.label }}</label> -->
                  <div class="col-md-4 col-sm-6 col-xs-12 form-group has-feedback">
                    <input type="text" class="form-control has-feedback-left" placeholder="{{ form.org_address_line_2.label.text }}" id= "{{ form.org_address_line_2.id }}" name="{{ form.org_address_line_2.id }}">
                    <span class="fa fa-home form-control-feedback left" aria-hidden="true"></span>
                  </div>
                  <div class="col-md-1 col-sm-6 col-xs-12"></div>
                <!--  <label class="control-label col-md-3 col-sm-3 col-xs-12">{{ form.org_state.label }}</label> -->
                  <div class="col-md-4 col-sm-6 col-xs-12 form-group has-feedback">
                    <input type="text" class="form-control has-feedback-left" placeholder="{{ form.org_city.label.text }}" id= "{{ form.org_city.id }}" name="{{ form.org_city.id }}">
                    <span class="fa fa-building form-control-feedback left" aria-hidden="true"></span>
                  </div>
                </div>

                <div class="form-group">
                  <div class="col-md-1 col-sm-6 col-xs-12"></div>
                <!--  <label class="control-label col-md-3 col-sm-3 col-xs-12">{{ form.org_pin_code_no.label }}</label> -->
                  <div class="col-md-5 col-sm-6 col-xs-12 form-group has-feedback">
                    <input type="text" class="form-control has-feedback-left" placeholder="{{ form.org_state.label.text }}"  id= "{{ form.org_state.id }}" name="{{ form.org_state.id }}">
                    <span class="fa fa-area-chart form-control-feedback left" aria-hidden="true"></span>
                  </div>
                  
                <!--  <label class="control-label col-md-3 col-sm-3 col-xs-12">{{ form.org_land_line_number.label }}</label> -->
                  <div class="col-md-5 col-sm-6 col-xs-12 form-group has-feedback">
                    <input type="text" class="form-control has-feedback-left" placeholder="{{ form.org_pin_code_no.label.text }}" data-inputmask="'mask' : '999-999'"  id= "{{ form.org_pin_code_no.id }}" name="{{ form.org_pin_code_no.id }}">
                    <span class="fa fa-anchor form-control-feedback left" aria-hidden="true"></span>
                  </div>
                </div>


              <div class="form-group">
                  <div class="col-md-1 col-sm-6 col-xs-12"></div>
                <!--  <label class="control-label col-md-3 col-sm-3 col-xs-12">{{ form.org_email_id.label }}</label>  -->
                  <div class="col-md-4 col-sm-6 col-xs-12 form-group has-feedback">
                    <input type="text" class="form-control has-feedback-left" placeholder="{{ form.org_parmanent_account_number.label.text }}" id= "{{ form.org_parmanent_account_number.id }}" name="{{ form.org_parmanent_account_number.id }}">
                     <span class="fa fa-asterisk form-control-feedback left" aria-hidden="true"></span>
                  </div>
                  <div class="col-md-1 col-sm-6 col-xs-12 form-group has-feedback"></div>
                <!--  <label class="control-label col-md-3 col-sm-3 col-xs-12">{{ form.org_address_line_2.label }}</label> -->
                  <div class="col-md-4 col-sm-6 col-xs-12">
                    <input type="text" class="form-control has-feedback-left" placeholder="{{ form.org_import_export_code.label.text }}" id= "{{ form.org_import_export_code.id }}" name="{{ form.org_import_export_code.id }}">
                     <span class="fa fa-envelope form-control-feedback left" aria-hidden="true"></span>
                  </div>
                </div>

                <div class="form-group">
                  <div class="col-md-1 col-sm-6 col-xs-12"></div>
                <!--  <label class="control-label col-md-3 col-sm-3 col-xs-12">{{ form.org_email_id.label }}</label>  -->
                  <div class="col-md-4 col-sm-6 col-xs-12 form-group has-feedback">
                    <input type="text" class="form-control has-feedback-left" placeholder="{{ form.org_goods_service_tax_registration_number.label.text }}" id= "{{ form.org_goods_service_tax_registration_number.id }}" name="{{ form.org_goods_service_tax_registration_number.id }}">
                     <span class="fa fa-suitcase form-control-feedback left" aria-hidden="true"></span>
                  </div>
                  <div class="col-md-1 col-sm-6 col-xs-12 form-group has-feedback"></div>
                <!--  <label class="control-label col-md-3 col-sm-3 col-xs-12">{{ form.org_address_line_2.label }}</label> -->
                  <div class="col-md-4 col-sm-6 col-xs-12">
                    <input type="text" class="form-control has-feedback-left" placeholder="{{ form.org_tax_deduction_account_number.label.text }}" id= "{{ form.org_tax_deduction_account_number.id }}" name="{{ form.org_tax_deduction_account_number.id }}">
                     <span class="fa fa-envelope form-control-feedback left" aria-hidden="true"></span>
                  </div>
                </div>


                 <div class="form-group">
                  <div class="col-md-1 col-sm-6 col-xs-12"></div>
                <!--  <label class="control-label col-md-3 col-sm-3 col-xs-12">{{ form.org_mobile_number.label }}</label> -->
                  <div class="col-md-4 col-sm-6 col-xs-12 form-group has-feedback">
                    <input type="text" class="form-control has-feedback-left" placeholder="{{ form.org_land_line_number.label.text }}" data-inputmask="'mask' : '(999) 999-9999'" id= "{{ form.org_land_line_number.id }}" name="{{ form.org_land_line_number.id }}">
                    <span class="fa fa-phone-square form-control-feedback left" aria-hidden="true"></span>
                  </div>
                  <div class="col-md-1 col-sm-6 col-xs-12"></div>
                <!--  <label class="control-label col-md-3 col-sm-3 col-xs-12">{{ form.org_alternative_mobile_number.label }}</label> -->
                  <div class="col-md-4 col-sm-6 col-xs-12 form-group has-feedback">
                    <input type="text" class="form-control has-feedback-left" placeholder="{{ form.org_mobile_number.label.text }}" data-inputmask="'mask' : '(999) 999-9999'"  id= "{{ form.org_mobile_number.id }}" name="{{ form.org_mobile_number.id }}">
                    <span class="fa fa-phone form-control-feedback left" aria-hidden="true"></span>
                  </div>
                </div>

                <div class="form-group">
                  <div class="col-md-1 col-sm-6 col-xs-12"></div>
                <!--  <label class="control-label col-md-3 col-sm-3 col-xs-12">{{ form.org_email_id.label }}</label>  -->
                  <div class="col-md-4 col-sm-6 col-xs-12 form-group has-feedback">
                    <input type="text" class="form-control has-feedback-left" data-inputmask="'mask' : '(999) 999-9999'" placeholder="{{ form.org_alternative_mobile_number.label.text }}" id= "{{ form.org_alternative_mobile_number.id }}" name="{{ form.org_alternative_mobile_number.id }}">
                     <span class="fa fa-phone form-control-feedback left" aria-hidden="true"></span>
                  </div>
                  <div class="col-md-1 col-sm-6 col-xs-12 form-group has-feedback"></div>
                <!--  <label class="control-label col-md-3 col-sm-3 col-xs-12">{{ form.org_address_line_2.label }}</label> -->
                  <div class="col-md-4 col-sm-6 col-xs-12">
                    <input type="email" class="form-control has-feedback-left" placeholder="{{ form.org_email_id.label.text }}" id= "{{ form.org_email_id.id }}" name="{{ form.org_email_id.id }}">
                     <span class="fa fa-envelope form-control-feedback left" aria-hidden="true"></span>
                  </div>
                </div>
                
                <div class="form-group">
                  <div class="col-md-1 col-sm-6 col-xs-12"></div>
                <!--  <label class="control-label col-md-3 col-sm-3 col-xs-12">{{ form.org_email_id.label }}</label>  -->
                  <div class="col-md-4 col-sm-6 col-xs-12 form-group has-feedback">
                    <input type="email" class="form-control has-feedback-left" placeholder="{{ form.org_alternative_email_id.label.text }}" id= "{{ form.org_alternative_email_id.id }}" name="{{ form.org_alternative_email_id.id }}">
                     <span class="fa fa-envelope form-control-feedback left" aria-hidden="true"></span>
                  </div>
                  <div class="col-md-1 col-sm-6 col-xs-12 form-group has-feedback"></div>
                <!--  <label class="control-label col-md-3 col-sm-3 col-xs-12">{{ form.org_address_line_2.label }}</label> -->
                  <div class="col-md-4 col-sm-6 col-xs-12">
                    <input type="text" class="form-control has-feedback-left" placeholder="{{ form.org_remarks.label.text }}" id= "{{ form.org_remarks.id }}" name="{{ form.org_remarks.id }}">
                     <span class="fa fa-tags form-control-feedback left" aria-hidden="true"></span>
                  </div>
                </div>
                
                <div class="ln_solid"></div>
                <div class="form-group">
                  <div class="col-md-4 col-sm-6 col-xs-12"></div>
                  <div class="col-md-8 col-sm-9 col-xs-12 ">
                    <button type="button" class="btn btn-primary">Cancel</button>
         <button class="btn btn-primary" type="reset">Reset</button>
                    <button type="submit" class="btn btn-success" name="{{ form.submit }}">Submit</button>
                  </div>
                </div>

              </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
{% endblock content %}

{% block javascripts %}
  {{ super() }}

<script src="{{ url_for('static', filename='vendors/jquery.inputmask/dist/min/jquery.inputmask.bundle.min.js') }}"></script>

{% endblock javascripts %}
