{% extends "base_site.html" %}

{% block title %} Aadhar Card {% endblock title %}

{% block stylesheets %}
  {{ super() }}
{% endblock stylesheets %}

{% block content %}


    <script type="text/javascript" src="https://code.jquery.com/jquery-1.11.3.min.js"></script>

   
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.4.1/js/bootstrap-datepicker.min.js"></script>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.4.1/css/bootstrap-datepicker3.css"/>
    <div class="right_col" role="main">
      <div class="">
       

        <div class="clearfix"></div>

        <div class="row">
          <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="x_panel">
              <div class="x_title">
                <h2>Aadhar Card</h2>
                
                <div class="clearfix"></div>
              </div>
              <div class="x_content">
                  <br />


              <h2 style = "text-align: center;"></h2>
    
              <form id="demo-form" data-parsley-validate>


                
                

              <div class="form-group">
                <div class="row">
                  <div class="col-md-1 col-sm-6 col-xs-12"></div>  
                   <div class="col-md-5 col-sm-6 col-xs-12">
                      <label for="">{{ form.document_type_id.label.text }} :</label>
                      <input type="text" id="{{ form.document_type_id.id }}" class="form-control" name="{{ form.document_type_id.id  }}" required />
                   </div>
                  
                  <div class="col-md-5 col-sm-6 col-xs-12">
                      <label for="">{{ form.document_type.label.text }} </label>
                      <input type="text" id="{{ form.document_type.id }}" class="form-control" name="{{ form.document_type.id }}" required />
                   </div>

                </div>
              </div>

                <div class="form-group">
                <div class="row">
                  <div class="col-md-1 col-sm-6 col-xs-12"></div>  
                   <div class="col-md-5 col-sm-6 col-xs-12">
                      <label for="">{{ form.document_id.label.text }} :</label>
                      <input type="text" id="{{ form.document_id.id }}" class="form-control" name="{{ form.document_id.id  }}" required />
                   </div>
                  
                  <div class="col-md-5 col-sm-6 col-xs-12">
                      <label for="">{{ form.org_id.label.text }} </label>
                      <input type="text" id="{{ form.org_id.id }}" class="form-control" name="{{ form.org_id.id }}" required />
                   </div>

                </div>
              </div>



              <div class="form-group">
                <div class="row">
                  <div class="col-md-1 col-sm-6 col-xs-12"></div>  
                   <div class="col-md-5 col-sm-6 col-xs-12">
                      <label for="">{{ form.user_id.label.text }} :</label>
                      <input type="text" id="{{ form.user_id.id }}" class="form-control" name="{{ form.user_id.id  }}" required />
                   </div>
                  
                  <div class="col-md-5 col-sm-6 col-xs-12">
                      <label for="">{{ form.dt_aadhar_num.label.text }} </label>
                      <input type="text" id="{{ form.dt_aadhar_num.id }}" class="form-control" name="{{ form.dt_aadhar_num.id }}" required />
                   </div>

                </div>
              </div>

              


              <div class="form-group">
                <div class="row">
                  <div class="col-md-1 col-sm-6 col-xs-12"></div>  
                   <div class="col-md-5 col-sm-6 col-xs-12">
                      <label for="">{{ form.dt_aadhar_name.label.text }} :</label>
                      <input type="text" id="{{ form.dt_aadhar_name.id }}" class="form-control" name="{{ form.dt_aadhar_name.id  }}" required />
                   </div>
                  
                  <div class="col-md-5 col-sm-6 col-xs-12">
                      <label for="">{{ form.dt_aadhar_parent_or_spouse_name.label.text }} </label>
                      <input type="text" id="{{ form.dt_aadhar_parent_or_spouse_name.id }}" class="form-control" name="{{ form.dt_aadhar_parent_or_spouse_name.id }}" required />
                   </div>

                </div>
              </div>

              <div class="form-group">
                <div class="row">
                  <div class="col-md-1 col-sm-6 col-xs-12"></div>  
                   <div class="col-md-5 col-sm-6 col-xs-12">
                      <label for="">{{ form.dt_aadhar_dob.label.text }} :</label>
                      <div class="row calendar-exibit">
                
                 

                  <fieldset>
                    <div class="control-group">
                      <div class="controls">
                        <div class="col-md-12 xdisplay_inputx form-group has-feedback">
                          <input type="text" class="form-control has-feedback-left" id="single_cal1" placeholder="First Name" aria-describedby="inputSuccess2Status">
                          <span class="fa fa-calendar-o form-control-feedback left" aria-hidden="true"></span>
                          <span id="inputSuccess2Status" class="sr-only">(success)</span>
                        </div>
                      </div>
                    
                  </fieldset>

                    </div>
                  </div>
                  
                  <div class="col-md-5 col-sm-6 col-xs-12">
                       <label class="control-label ">{{ form.dt_aadhar_gender.label }}</label><br>
                  
            <!--
                  <input type="radio" class="flat" name="user_gender" value="{{ Male }}" id="Male">
                  <label for="{{Male}}"> Male </label><br>
                  <input type="radio" class="flat" name="user_gender" value="{{ Female }}" id="Female">
                  <label for="{{Female}}"> Female </label><br>-->
                  {% for subfield in form.dt_aadhar_gender %}
                      <tr>
                          <td>{{ subfield }}</td>
                          <td>{{ subfield.label }}</td>
                      </tr><br>
                      {% endfor %}
                  
                </div>

                   </div>

                </div>
              </div>


              <div class="form-group">
                <div class="row">
                  <div class="col-md-1 col-sm-6 col-xs-12"></div>  
                   <div class="col-md-5 col-sm-6 col-xs-12">
                      <label for="">{{ form.dt_aadhar_address1.label.text }} :</label>
                      <input type="text" id="{{ form.dt_aadhar_address1.id }}" class="form-control" name="{{ form.dt_aadhar_address1.id  }}" required />
                   </div>
                  
                  <div class="col-md-5 col-sm-6 col-xs-12">
                      <label for="">{{ form.dt_aadhar_address2.label.text }} </label>
                      <input type="text" id="{{ form.dt_aadhar_address2.id }}" class="form-control" name="{{ form.dt_aadhar_address2.id }}" required />
                   </div>

                </div>
              </div>

              <div class="form-group">
                <div class="row">
                  <div class="col-md-1 col-sm-6 col-xs-12"></div>  
                   <div class="col-md-5 col-sm-6 col-xs-12">
                      <label for="">{{ form.dt_aadhar_city.label.text }} :</label>
                      <input type="text" id="{{ form.dt_aadhar_city.id }}" class="form-control" name="{{ form.dt_aadhar_city.id  }}" required />
                   </div>
                  
                  <div class="col-md-5 col-sm-6 col-xs-12">
                      <label for="">{{ form.dt_aadhar_state.label.text }} </label>
                      <input type="text" id="{{ form.dt_aadhar_state.id }}" class="form-control" name="{{ form.dt_aadhar_state.id }}" required />
                   </div>

                </div>
              </div>


              <div class="form-group">
                <div class="row">
                  <div class="col-md-1 col-sm-6 col-xs-12"></div>  
                   <div class="col-md-5 col-sm-6 col-xs-12">
                      <label for="">{{ form.dt_aadhar_pin.label.text }} :</label>
                      <input type="text" data-inputmask="'mask' : '999-999'" id="{{ form.dt_aadhar_pin.id }}" class="form-control" name="{{ form.dt_aadhar_pin.id  }}" required />
                   </div>
                  
                  <div class="col-md-5 col-sm-6 col-xs-12">
                      <label for="">{{ form.dt_aadhar_filepathandname.label.text }} </label>
                      <input type="text" id="{{ form.dt_aadhar_filepathandname.id }}" class="form-control" name="{{ form.dt_aadhar_filepathandname.id }}" required />
                   </div>

                </div>
              </div>


              <div class="form-group">
                <div class="row">
                  <div class="col-md-1 col-sm-6 col-xs-12"></div>  
                   <div class="col-md-5 col-sm-6 col-xs-12">
                      <label for="">{{ form.dt_aadhar_remarks.label.text }} :</label>
                      <input type="text" id="{{ form.dt_aadhar_remarks.id }}" class="form-control" name="{{ form.dt_aadhar_remarks.id  }}" required />
                   </div>
                  
                  

                </div>
              </div>


              <div class="ln_solid"></div>
                <div class="form-group">
                  <div class="col-md-4 col-sm-6 col-xs-12"></div>
                  <div class="col-md-8 col-sm-9 col-xs-12 ">
                    <button type="button" class="btn btn-primary">Cancel</button>
                   <button class="btn btn-primary" type="reset">Reset</button>
                    <button type="submit" class="btn btn-success" name="{{ form.submit }}">Submit</button>
                  </div>
                </div>

              </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
{% endblock content %}

{% block javascripts %}
  {{ super() }}

<script src="{{ url_for('static', filename='vendors/jquery.inputmask/dist/min/jquery.inputmask.bundle.min.js') }}"></script>

<script type="text/javascript">
    
    function updateData() 
    {
        
      document_id = $('#{{ form.document_id.id }}');
      var send = {nm : document_id.val()};

        $.getJSON("{{ url_for('document_blueprint._get_dataA') }}", send, function(data) {
                    $.each(data, function(key,value) {
                      alert(key + " : " + value);
                    $('#' + key).val(value);
                  });
        });
    }

    $("#{{ form.document_id.id }}").change(function () {
      updateData(); 
  });    
  </script>




{% endblock javascripts %}
