2 {% extends "base_site.html" %}

{% block title %} Document {% endblock title %}

{% block stylesheets %}
  {{ super() }}
{% endblock stylesheets %}

{% block content %}
    <div class="right_col" role="main">
      <div class="">
        

        <div class="clearfix"></div>

        <div class="row">
          <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="x_panel">
              <div class="x_title">
                <h2>Documents</h2>
                
                <div class="clearfix"></div>
              </div>
              <div class="x_content">
              
                  <form id="{{ form.id }}" data-parsley-validate class="form-horizontal form-label-left" method="post">
                  <div class="form-group">
                    <label class="control-label col-md-3 col-sm-3 col-xs-12">{{ form.docType.label }}</label>
                    <div class="col-md-6 col-sm-6 col-xs-12">
                      <select class="select2_single form-control" tabindex="-1">
                        <option></option>
                        {% for itm in docList %}
                          <option value={{ itm[1] }}>{{ itm[0] }}</option>
                        {%  endfor %}
                      </select>
                    </div>
                  </div>
              	</form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
{% endblock content %}

{% block javascripts %}
  {{ super() }}
{% endblock javascripts %}

