2 {% extends "base_site.html" %}

{% block title %} Pan card {% endblock title %}

{% block stylesheets %}
  {{ super() }}
{% endblock stylesheets %}

{% block content %}

     <script type="text/javascript" src="https://code.jquery.com/jquery-1.11.3.min.js"></script>

    <!-- Include Date Range Picker -->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.4.1/js/bootstrap-datepicker.min.js"></script>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.4.1/css/bootstrap-datepicker3.css"/>

    <div class="right_col" role="main">
      <div class="">
        

        <div class="clearfix"></div>

        <div class="row">
          <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="x_panel">
              <div class="x_title">
                <h2>Pan Card Documents</h2>
                
                <div class="clearfix"></div>
              </div>
              <div class="x_content">
              
                  <form class="form-horizontal form-label-left input_mask" id="{{ form.id }}" method="post">
                
                
                
                <div class="form-group">
                  <div class="col-md-1 col-sm-6 col-xs-12"></div>
                  <div class="col-md-5 col-sm-6 col-xs-12 form-group has-feedback">
                    <label class="control-label">{{ form.document_type_id.label }}</label>
                    <input type="text" class="form-control " required="required"  id="{{ form.document_type_id.id }}" name="{{ form.document_type_id.id }}" title="{{ form.document_type_id.label.text }}">
                  </div>
                 
                  <div class="col-md-5 col-sm-6 col-xs-12 form-group has-feedback">
                    <label class="control-label ">{{ form.document_type.label }}</label> 
                    <input type="text" class="form-control " required="required"  id="{{ form.document_type.id }}" name="{{ form.document_type.id }}">
                  </div>

                </div>

                <div class="form-group">
                  <div class="col-md-1 col-sm-6 col-xs-12"></div>                  
                  <div class="col-md-5 col-sm-6 col-xs-12 form-group has-feedback">
                    <label class="control-label ">{{ form.document_id.label }}</label> 
                    <input type="text" class="form-control " required="required"  id="{{ form.document_id.id }}" name="{{ form.document_id.id }}">
                  </div>

                  <div class="col-md-5 col-sm-6 col-xs-12">
                    <label class="control-label ">{{ form.org_id.label }}</label> 
                    <input type="text" class="form-control "   id="{{ form.org_id.id }}" name="{{ form.org_id.id }}">
                  </div>
                </div>

            
                <div class="form-group">
                  <div class="col-md-1 col-sm-6 col-xs-12"></div>
                  <div class="col-md-5 col-sm-6 col-xs-12 form-group has-feedback">
                    <label class="control-label ">{{ form.user_id.label }} </label> 
                    <input type="text" class="form-control " id="{{ form.user_id.id }}" name="{{ form.user_id.id }}">
                  </div>
               
               <div class="col-md-5 col-sm-1 col-xs-12">
                  <label class="control-label ">{{ form.dt_pancard_pannum.label }}</label> 
                    <input type="text" class="form-control " required="required"  id= "{{ form.dt_pancard_pannum.id }}" name="{{ form.dt_pancard_pannum.id }}">
                  </div>
                </div>




                <div class="form-group">
                  <div class="col-md-1 col-sm-6 col-xs-12"></div>
                  <div class="col-md-5 col-sm-6 col-xs-12 ">
                    <label class="control-label ">{{ form.dt_pancard_panname.label }}</label> 
                    <input type="text" class="form-control "  id= "{{ form.dt_pancard_panname.id }}" name="{{ form.dt_pancard_panname.id }}">
                  </div>
                  <div class="col-md-5 col-sm-6 col-xs-12">
                   <label class="control-label ">{{ form.dt_pancard_panfathersname.label }}</label> 
                    <input type="text" class="form-control "  id= "{{ form.dt_pancard_panfathersname.id }}" name="{{ form.dt_pancard_panfathersname.id }}">
                  </div>
                </div>

                <div class="form-group">
                  <div class="col-md-1 col-sm-6 col-xs-12"></div>
                  <div class="col-md-5 col-sm-6 col-xs-12 form-group has-feedback">
                    <label class="control-label ">{{ form.dt_pancard_dob.label }}</label> 
                    <div class="input-append date" id="{{ form.dt_pancard_dob.id }}" data-date-format="yyyy-mm-dd">
                    <input type="text" class="form-control "  id= "{{ form.dt_pancard_dob.id }}" name="{{ form.dt_pancard_dob.id }}">
                        <span class="add-on"><i class="icon-th"></i></span>
                      </div>
                  </div>              
               <script type="text/javascript">
                
               $('#{{ form.dt_pancard_dob.id }}').datepicker({
                  format: 'yyyy-mm-dd'
               });
               </script>
                  <div class="col-md-5 col-sm-6 col-xs-12 form-group has-feedback">
                   <label class="control-label ">{{ form.dt_pancard_wardnum.label }}</label> 
                    <input type="text" class="form-control "   id= "{{ form.dt_pancard_wardnum.id }}" name="{{ form.dt_pancard_wardnum.id }}">
                  </div>
                </div>


              <div class="form-group">
                  <div class="col-md-1 col-sm-6 col-xs-12"></div>
                  <div class="col-md-5 col-sm-6 col-xs-12 form-group has-feedback">
                   <label class="control-label ">{{ form.dt_pancard_filepathandname.label }}</label>  
                    <input type="text" class="form-control "  id= "{{ form.dt_pancard_filepathandname.id }}" name="{{ form.dt_pancard_filepathandname.id }}">
                  </div>
                  <div class="col-md-5 col-sm-6 col-xs-12">
                    <label class="control-label ">{{ form.dt_pancard_remarks.label }}</label> 
                    <input type="text" class="form-control "  id= "{{ form.dt_pancard_remarks.id }}" name="{{ form.dt_pancard_remarks.id }}">
                  </div>
                </div>

                
                
                <div class="ln_solid"></div>
                <div class="form-group">
                  <div class="col-md-4 col-sm-6 col-xs-12"></div>
                  <div class="col-md-8 col-sm-9 col-xs-12 ">
                    <button type="button" class="btn btn-primary">Cancel</button>
         <button class="btn btn-primary" type="reset">Reset</button>
                    <button type="submit" class="btn btn-success" name="{{ form.submit }}">Submit</button>
                  </div>
                </div>

              </form>
              
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
{% endblock content %}

{% block javascripts %}
  {{ super() }}

<script type="text/javascript">
    
    function updateData() 
    {
        
      document_id = $('#{{ form.document_id.id }}');
      var send = {nm : document_id.val()};

        $.getJSON("{{ url_for('document_blueprint._get_data') }}", send, function(data) {
                    $.each(data, function(key,value) {
                        alert(key + " : " + value);
                    $('#' + key).val(value);
                  
                  });
        });
    }

    $("#{{ form.document_id.id }}").change(function () {
      updateData(); 
  });    
  </script>

{% endblock javascripts %}

